In [1]:
#How would you count the number of occurrences of "banana" in the tuple?

fruits = ("apple", "banana", "cherry", "date", "banana")

fruits.count("banana")

2

In [2]:
numbers = {1, 2, 3, 4, 5, 5, 4, 3}
print(len(numbers))

#What is the set's length? Try to answer without running the code.

# 1, 2, 3, 4, 5 length is 5

5

In [5]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

#How would you obtain a set that contains all the unique values from both sets?
# a union b

a | b

{1, 2, 3, 4, 5, 6}

In [6]:
#Given the following code, what would the output be? Try to answer without running the code.

names = ["Fred", "Barney", "Wilma", "Betty", "Pebbles", "Bambam"]

name_positions = {}

for index, name in enumerate(names):
    name_positions[name] = index
    
print(name_positions)

{'Fred': 0, 'Barney': 1, 'Wilma': 2, 'Betty': 3, 'Pebbles': 4, 'Bambam': 5}

In [8]:
#Calculate the total age given the following dictionary:

ages = {
    "Herman": 32,
    "Lily": 30,
    "Grandpa": 5843,
    "Eddie": 10,
    "Marilyn": 22,
    "Spot": 237,
}

total_age = sum(ages.values())

total_age

6174

In [9]:
#Determine the minimum age from the above ages dictionary.

min_age = min(ages.values())

min_age

10

In [10]:
# What would the following code output? Try to answer without running the code.

words = ['ant', 'bear', 'cat']
selected_words = []
for word in words:
    if len(word) > 3:
        selected_words.append(word)

print(selected_words)

['bear']

In [16]:
# Given the following string, create a dictionary that represents the 
# frequency with which each letter occurs. The frequency count should be case-sensitive:

statement = "The Flintstones Rock"

letters = set(statement)

letters.discard(' ')

letter_counts = {}

for letter in letters:
    letter_counts[letter] = statement.count(letter)

letter_counts

{'T': 1,
 'c': 1,
 'n': 2,
 'k': 1,
 's': 2,
 'o': 2,
 'i': 1,
 'h': 1,
 'l': 1,
 'F': 1,
 't': 2,
 'R': 1,
 'e': 2}

In [17]:
# What is the return value of the list comprehension below? Try to answer without running the code.

[num for num in [1, 2, 3] if num > 1]

#[2,3]

[2, 3]

In [18]:
# What does the following code print and why?

dictionary = {'a': 'ant', 'b': 'bear'}
print(dictionary.popitem())

# ('b': 'bear') will be printed because popitem() will remove the last added key/value pair and return it AS A TUPLE?

('b', 'bear')

In [19]:
#What does the following code return? Try to answer without running the code.

lst = [1, 2, 3, 4, 5]
lst[:2]

# [1, 2]

[1, 2]

In [20]:
# What would be the output of the below code? Try to answer without running the code.

frozen = frozenset([1, 2, 3, 4, 5])
frozen.add(6)
#error?
print(frozen)
#no change

AttributeError: 'frozenset' object has no attribute 'add'

In [21]:
string = 'hello my friend'

string.split()

['hello', 'my', 'friend']

In [23]:
list = [1,2,3,4]

list.index([1,2])

ValueError: [1, 2] is not in list

In [24]:
set1 = {1,3,4,5,6}

set2 = {9,3,4,6,7}

set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'