In [4]:
def person_key(person):
    return person[1]

people = [("Jack", 30), ("John", 25), ("Betty", 25), ("Anna", 30)]
sorted_people = sorted(people, key=person_key)
print(sorted_people)

[('John', 25), ('Betty', 25), ('Jack', 30), ('Anna', 30)]

In [6]:
lst = [[1], [2]]

lst[0].append([9])
lst                 # [[1, [9]], [2]]

#How would you access the number 9 from this last version of lst?

lst[0][1][0]

9

In [140]:
moves = {'a':{'1': {'mark': 'x', 'position': 4 },
              '2': {'mark': None, 'position': 4 }, 
              '3': {'mark': 'x', 'position': 4 }},
         'b':{'1': {'mark': None, 'position': 8 }, 
              '2': {'mark': 'x', 'position': 8 }, 
              '3': {'mark': None, 'position': 8 }},
         'c':{'1': {'mark': 'x', 'position': 12 }, 
              '2': {'mark': None, 'position': 12 }, 
              '3': {'mark': 'x', 'position': 12 }}}

In [151]:
VALID_ROWS = ['1','2','3']

marks =  [[[col,row_num]
         for row_num, values in row.items() if values['mark'] == 'x']
         for col, row in moves.items()
        ]

mark_counts = {}
diag_1_tally = 0
diag_2_tally = 0
diag_1 = 0
diag_2 = len(VALID_ROWS) + 1

for column in marks:
    diag_1 += 1
    diag_2 -= 1
    for mark in column:

        mark_counts.setdefault(mark[1], 0)
        mark_counts[mark[1]] += 1
        mark_counts.setdefault(mark[0], 0)
        mark_counts[mark[0]] += 1

        if int(mark[1]) == diag_1:
            diag_1_tally += 1
        if int(mark[1]) == diag_2:
            diag_2_tally += 1
    

[key for key in mark_counts if mark_counts[key] == max(mark_counts.values())
                            and key.isalpha()]

['a', 'c']

In [152]:
v = ['1','2','3']

v[:-1]

['1', '2']

In [158]:
string = "hello there my friend"

string.index()

6

In [165]:
string = 'h2e2l2l2o'

string_split = string.split('2') #['h', 'e', 'l', 'l', 'o']

string_rejoined = ''.join(string_split) # hello

hello

In [175]:
string = "this is a lovely DAY."

print(string.capitalize()) #This is a lovely day.
print(string.lower()) #this is a lovely day.
print(string.upper()) #THIS IS A LOVELY DAY.
print(string.swapcase()) #THIS IS A LOVELY day.

This is a lovely day.
this is a lovely day.
THIS IS A LOVELY DAY.
THIS IS A LOVELY day.

In [199]:
list = ['1','2','a','b','sofia','zaidman','1','2']

print(list.count('1')) #2
print(list.index('1')) #0
print(list.index('1',3)) #6
print(list.index('sofia', 4)) # ValueError

2
0
6
4

In [196]:
fruits = ['apple', 'kumquat', 'peach', 'raspberry']
fruits_2 = ['kiwi', 'blueberry', 'cranberry']

fruits.append('plum')
print(fruits) #['apple', 'kumquat', 'peach', 'raspberry', 'plum']

fruits.insert(2, 'banana') #['apple', 'kumquat', 'banana', 'peach', 'raspberry', 'plum']
print(fruits)

fruits.extend(fruits_2)
print(fruits) #['apple', 'kumquat', 'banana', 'peach', 'raspberry', 'plum', 'kiwi', 'blueberry', 'cranberry']
print(fruits_2) #['kiwi', 'blueberry', 'cranberry']

['apple', 'kumquat', 'peach', 'raspberry', 'plum']
['apple', 'kumquat', 'banana', 'peach', 'raspberry', 'plum']
['apple', 'kumquat', 'banana', 'peach', 'raspberry', 'plum', 'kiwi', 'blueberry', 'cranberry']
['kiwi', 'blueberry', 'cranberry']

In [208]:
fruits = ['apple', 'kumquat', 'peach', 'raspberry', 'kumquat']

fruits.remove('kumquat') 
print(fruits) # ['apple', 'peach', 'raspberry', 'kumquat']

print(fruits.pop(2)) # raspberry
print(fruits) # ['apple', 'peach', 'kumquat']

fruits.clear()
print(fruits) # []

['apple', 'peach', 'raspberry', 'kumquat']
raspberry
['apple', 'peach', 'kumquat']
[]

In [226]:
animals = ['zebra', 'hyrax', 'falcon', 'snake', 'orangutan']

print(sorted(animals)) #['falcon', 'hyrax', 'orangutan', 'snake', 'zebra']
print(animals) #['zebra', 'hyrax', 'falcon', 'snake', 'orangutan']

animals.sort()
print(animals) #['falcon', 'hyrax', 'orangutan', 'snake', 'zebra']

animals.sort(key = len)
print(animals) #['hyrax', 'snake', 'zebra', 'falcon', 'orangutan']

animals.reverse()
print(animals) #['orangutan', 'falcon', 'zebra', 'snake', 'hyrax']

['falcon', 'hyrax', 'orangutan', 'snake', 'zebra']
['zebra', 'hyrax', 'falcon', 'snake', 'orangutan']
['falcon', 'hyrax', 'orangutan', 'snake', 'zebra']
['hyrax', 'snake', 'zebra', 'falcon', 'orangutan']
['orangutan', 'falcon', 'zebra', 'snake', 'hyrax']

In [223]:
animals = [['zebra', 'hyrax'], ['falcon'], ['snake', 'orangutan']]

animals.sort()
print(animals) # [['falcon'], ['snake', 'orangutan'], ['zebra', 'hyrax']]

[['falcon'], ['snake', 'orangutan'], ['zebra', 'hyrax']]

In [227]:
pets = {'tip' : 'bird',
        'charlie' : 'cat',
        'nala' : 'cat' ,
        'daisy' : 'dog'
}

pets_2 = pets.copy()

pets_3 = pets

pets['paul'] = 'bird'

print(pets) # {'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog', 'paul': 'bird'}
print(pets_2) # {'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog'}
print(pets_3) # {'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog', 'paul': 'bird'}

{'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog', 'paul': 'bird'}
{'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog'}
{'tip': 'bird', 'charlie': 'cat', 'nala': 'cat', 'daisy': 'dog', 'paul': 'bird'}

In [232]:
pets = {'tip' : 'bird',
        'charlie' : 'cat',
        'nala' : 'cat' ,
        'daisy' : 'dog'
}

print(pets.pop('alphonse', 'not in dict')) # not in dict
print(pets.pop('tip')) # bird
print(pets.popitem()) # ('daisy', 'dog')
print(pets) # {'charlie': 'cat', 'nala': 'cat'}

not in dict
bird
('daisy', 'dog')
{'charlie': 'cat', 'nala': 'cat'}

In [238]:
pets = {'nala' : 'cat' ,
        'daisy' : 'dog'
}

pets_2 = {'strawberry' : 'frog',
          'daisy' : 'yorkshire terrier'
}

pets.update(pets_2)

print(pets) # {'nala': 'cat', 'daisy': 'yorkshire terrier', 'strawberry': 'frog'}

{'nala': 'cat', 'daisy': 'yorkshire terrier', 'strawberry': 'frog'}

In [248]:
pets = {'nala' : 'cat' ,
        'daisy' : 'dog'
}

pets.setdefault('daisy', 'cat') # dog

'dog'

In [54]:
AMAA_GROSS_PROFIT = [
  {'amazon': 114.9},
  {'meta': 94.8},
  {'apple': 170.7},
  {'alphabet': 97.7},
]

def dictionary_generator(profits_list):
    new_dict = {}
    for dict in profits_list:
        new_dict.update(dict)
    return new_dict

print(dictionary_generator(AMAA_GROSS_PROFIT))
# {'amazon': 114.9, 'meta': 94.8, 'apple': 170.7, 'alphabet': 97.7}

{'amazon': 114.9, 'meta': 94.8, 'apple': 170.7, 'alphabet': 97.7}

[{'amazon': 114.9}, {'meta': 94.8}, {'apple': 170.7}, {'alphabet': 97.7}]